.hotel-search {
  background-color: @basic-color;
  color: black;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0,0,0);
  font-family: "P TSans", sans-serif;
  font-weight: bold;
  text-align: center;
}

.hotel-search__invitation {
  font-size: 14px;
  line-height: 26px;
  color: rgb(0,0,0);
  font-family: "P TSans", sans-serif;
  font-weight: normal;
  text-align: center;
}
